*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: 900;
    font-style: normal;
    -webkit-user-drag:none ;
}
body{
   font-family: 'Tajawal' , sans-serif; 
}
.background{
    width: 100%;
    background-image: url(/static//dele.jpg);
    position: fixed;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 55px;
    background-position: center; 
    top: 0;
}
.overlay {
    background-color: rgba(0, 0, 0 ,0.2);
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 0vh;
    left: 0;
}
.header{
    width: 100%;
    height: 11vh;
    background-color:#131715;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: fixed;
    z-index: 200;
}
.header .list{
   width: 50%;
}
.img-sho{
  width: 30px;
  border-radius: 20px;
  margin-right: 5px;
}
.header .list ul li{
  display: flex;
  align-items: center;
    cursor: pointer;
    text-decoration: underline black;
    transition: 1s;
    text-underline-offset: 5px;
 }
 .header .list ul li:hover{
    text-decoration: underline rgb(199, 198, 198);
}
.header .list ul{
    display: flex;
    justify-content: space-around;
}
.header .logo img{
    width: 67px;
    border-radius: 30px;
}
.information img{
  left:58%;
}
.search .search-input{
    border: none;
    padding: 10px;
    width: 220px;
    border-radius: 10px;
    outline: none;
    color: black;
    transition: 0.3s;
    box-shadow: rgb(104, 102, 102) 1px 0px 2px 2px;
}
.search button{
    width: 100px;
    padding: 5px;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    height: 32px;
    cursor: pointer;
    color: black;
    transition: 0.5s;
}
.pig-totals{
    font-size: 30px;
}
.search button:hover{
    transform: scale(0.9);
}
.search-input::placeholder{
 color: black;
}
.search-input:focus{
    padding: 12px;
}




.title-product{
text-align:center;
color: rgb(0, 0, 0);
margin-top: 10px;
display: inline-block;
font-size: 50px;
font-weight: 900;
font-style: oblique;
text-decoration: underline;
}

.prodacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
    color: white;
    width: 100%;
    border-radius: 20px;
    height: auto;
    position: relative;
    top: 87vh;
    background-color: rgb(247, 247, 247);
    z-index: 122;
}
.noproduct{
  width: 465px; 
  margin-top: 100px; 
  border-radius: 80px 5px 30px 5px;
}
.all-product{
    width: 100%;
    height: 200vh;
    display: flex;
    width: 100%;
    margin-top: 60px;
    height: fit-content;
    color: white;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    position: relative;
}
.pig-menu{
position: absolute;
top: 50vh;
right: 0;
height: 90vh;
width: 30%;
}
.menu{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 77%;
    overflow:auto ;
    border: 1.5px solid whitesmoke;
    overflow-x: hidden;
    border-radius: 10px 0 0 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    border-radius: 15px;
    align-items: center;
    text-align: center;
    height: fit-content;
}
.menu .title{
    display: flex;
    text-align: center;
}
.menu img{
    width: 30px;
    margin: 5px;
}
.confirm{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 370px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    transition: 1s;
}
.confirm h1{
    width: 370px;
}
.confirm:hover{
    transform: scale(0.9);
}
.mine{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 97%;
   
   
}
.mine .box-mine{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
    box-shadow: rgb(38, 57, 77) 0px 7px 10px -5px;    border-radius: 5px;
    width: 100%;
    height: 10vh;
    margin-bottom: 30px;
    direction: rtl;
}
.val{
  background: #51ff00;
  padding: 4px;
  border-radius: 5px;
  width: fit-content;
}

.mine .line1{
    background-color: rgba(38, 255, 0, 0.523);
    border-radius: 5px;
    padding: 7px;
    width: fit-content;
    position: relative;
    left: 30px;
}
.mine img{
width: 30px;
cursor: pointer;
}
.boxs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 15px;
    margin-bottom: 20px;
    gap: 10px ;
    width:60%;
    
}
.boxs .box{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    
    justify-content: space-evenly;
    background-image: url(/static/boxs.png);
    color: rgb(255, 255, 255);
    padding: 0 55px;
    margin: 30px 0;
    height: 77vh;
    width: 90%;
    margin-bottom: 70px;
}
.dis{
    margin-top: 100px;
    position: fixed;
    color: rgb(255, 255, 255);
    left: 60%; 
    font-size: 30px;text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transform: 1s;
}
.dis h1{
   
   font-size: xx-large;
   position: relative;
   right: 100%;
   transform: translateX(80%);
   transition: 2s;
   
}

.dis h2{
   transform: translateX(-70%);
   position: relative;
   margin-top: 90%;
   transition:2s;
   font-size: 50px;
   font-weight: 900;
   font-style: oblique;
   text-decoration: underline;
 }
 .information{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: end;
    justify-content: center;
 }
 
.information p{
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 5px;
}
.information h2{
list-style: disc;    
}

.boxs .box .information img{
    position: relative;
    top: -70px;
   width: 160px;
   border-radius: 50%;
   left: 50%;
   transform: translateX(-50%);
}
.total{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
   
}
.count{
display: flex;
align-items: center;
}
.count button{
   width: 25px;
   height: 25px;
   color: white;
   background-color: rgb(51 139 125);
   outline: none;
   border: none;
   margin: 3px;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* .to{
    width: 20%;
    background-color: rgb(0, 255, 94);
    color: black;
    padding: 10px;
    border-radius: 15px;
} */

.add{
    display: flex;    
   
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 165px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
}
.sal{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
    
}
.sal img{
    width: 30px;
}


.pig-pige{
    width: 0vh;
     height: 0; 
    background-image: url(/static/Frame\ 13\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1000000; 
     position: fixed; 
     top: 55px;
    border-radius: 20px;
    transition: 1s;
     opacity: 1;
}
.top-ord{

    direction: rtl;
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}
.img-ord{
    z-index: 10000000;
    position: fixed;
    top: 10vh;
    left: -19px;
   cursor: pointer;
    width: 60px;
    border-radius: 15px;
    display: none;
}

.information-ord{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-around;
   position: absolute;
   flex-direction: row-reverse
}

.information-ord .left{
    width: 50%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    direction: rtl;
    margin: 20Px;
}
g
::-webkit-scrollbar{
    width: 14px;
}
::-webkit-scrollbar-thumb{
 background-color: rgb(0, 0, 0);
 border-radius: 20px;
}
::-webkit-scrollbar-track{
   background-color:  rgba(0, 0, 0, 0.144);
      border-radius: 20px;
 }
.left .infor{
    display: flex;
   flex-direction: column;
   height: 30vh;
  position: absolute;   
  top: -27px;
   justify-content:space-between ;
}

.left .infor input{
width: 250px;
padding:10px ;
border-radius: 10px;
outline: none;
border: none;
}
.left .infor input:focus{
transform: scale(1.1);
border: 1px solid rgb(0, 4, 255);

}
.pro-ord{
    max-height: 65vh;
    border-radius: 10px;
    overflow: auto;
    margin-top: 155px;
    width: 282px;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}
.total-fin{
    display: flex;
    width: 79.2%;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -14.6px;
    right: 26.8px;
    background: linear-gradient(to top, rgb(204 204 206), #f0f0f2);
}
.to , .pr{
    margin: 0 14px;
}
.ord-ord{

  margin-right: -17px;
  width: 100%;
}
.button {
    --width: 156px;
    --height: 45px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.5em;
    font-family: "Arial";
    transition: background 0.7s;
  }


  
  .button::after,
  .button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
.text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,
  .text,
  .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0;
  }
.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}
.button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,
  .button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
.line2{
margin-right: 20px;
}
  .ord-ord span {
    margin-left: 12px;
    font-size: 11px;
    position: relative;
    right: 10px;
}
.fin-info{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
word-spacing: 2px;
margin-right: 20px;
font-size: 13px;
}
.pro-ord .top , .butt{
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
}
.pro-ord .butt {
    top: -7px;
    right: 27px;
    width: 79.6%;
    position: relative;
}
.pro-ord .rd{
    background: linear-gradient(to top, rgb(204 204 206), #f0f0f2);
    width: 79.3%;
 
    position: relative;
    bottom: 14px;
    right: 26.7px;
}
.pro-ord .thank-ord img{
    width: 79.1%;
    position: relative;
    top: -15px;
    right: 26.9px;
}
.left .total-ord{
    background-color: rgb(160, 63, 63);
    border-radius: 10PX;
    margin-bottom: -26%;
    width: 123px;
    height: 43px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    
}

.left .now{
    margin-bottom: 30px;
    border: 1px solid beige;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 30px;
    width: 260px;
    height: 10vh;
    padding: 21px;
    border-radius: 50px;
    position: relative;
    right: 50%;
    cursor: pointer;
    bottom: 15vh;
    text-align: center;
    transform: translateX(-50%);
    transition: 1s;
}
.now .latorot{
    position: relative;
    top: -18px;
    right: -8px;
    width: 161px;
    height: 8vh;
    opacity: 0;
    transition: 1s;
}
.now .moto{
    position: relative;
    right: 18px;
    bottom: 14px;
    border-radius: 78px;
    width: fit-content;
    height: 8vh;
    opacity: 0;
    transition: 1s;
    
  }
.left .now:hover{
transform: scale3d(1.2);
border: solid 1px black;
}
.information-ord .right{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 53vh;
    margin: 49px 92px;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}
.logo-ord img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    width: 0;
   
}
.right .rev{
display: flex;
flex-direction: column;
justify-content: space-around;
position: relative;
top: 35px;
width: 40%; 
}
.right .rev .tex{
    height: 16vh;
    width: 206%;
    outline: none;
    border: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    border-radius: 15px;
    position: relative;
    right: 56%;
    text-align: center;

}

/* From Uiverse.io by MikeAndrewDesigner */ 

.e-card {
  margin: 0px auto;
  background: transparent;
  background-color: black;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 100%;
 
  height: 100vh;
  border-radius: 16px;
  overflow: hidden;
  display: none;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
}

.icon-card {
  width: 3em;
  margin-top: -15.5em;
  margin-left: 86px;
  padding-bottom: 1em;
  
}
.back{
  margin-top: 3em;
  color: white;
  margin-top: 4em;
  color: white;
  background-color: rgb(255, 255, 255);
  width: 124px;
  margin-left: 29em;
  color: white;
  border-radius: 40px;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  position: relative;
  left: 52%;
  top: 143%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
  position: relative;
  left: 48%;
  top: 143%;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (max-width:1024px) {
  body{
    overflow: hidden;
    overflow-y: scroll;
  }
  .header .list {
    width: 100%;
    display: flex;
    border-radius: 10px;
}
.header .list ul {
  width: 100%;
  display: flex;
  justify-content: space-around;

}
   .list{
    position: fixed;
    bottom: 0;
    right: 0;
    background:#131715;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 10px;
    padding: 25px 0;
    } 
    form{
      display: flex;
      width: 60%;
      position: relative;
      right: 13px;
    }
    .search-input{
      margin-left: 35px;
      padding: 2px;
    }
    .search-input:focus{
      padding: 1px;
      border-radius: 5px;
  }
  
    .search button{
      height: 6vh;
      margin: 0 5px;
      width: 72px;
    }
    .dis{
      position: relative;
      bottom: 20px;
    }
    .dis h2{
      left: 36px;
      top: -300px;
      position: absolute;
    }
    .dis h1{
      margin-left: 10px;
      margin-top: 0px;
    }
    .boxs{
      display: grid;
      grid-template-columns: repeat(1 , 1fr);
      width: 100%;
      position: relative;
      bottom: 30vh;
    }
    .boxs .box{
      height: 70vh;
      width: 96%;
      gap: 5px;
    }
    /* .pig-menu{
      position: fixed;
      top: 0vh;
      right: 0;
    } */
    .noproduct{
      width: 291px; 
      margin-top: 100px; 
      border-radius: 80px 5px 30px 5px;
    }
    .menu{
      position: fixed;
      bottom: 136px;
      right: 19px;
      max-height: 20vh;
      width: 90%;

    }
    .confirm{
      position: fixed;
      bottom: 67px;
      right: 24px;
      width: 90%;
      background-color: #E9EFEC;
      color: black;
    }
    .prodacts{
      margin-top: 36px;
    }
    .title-product{
         position: relative;
         top: 10px;
         
    }
    .header{
      top: 0;
      position: fixed;
     height: 11vh;
     border-radius: 0 0 0px 22px;
    }
  .boxs .box .information img{
      left:16%;
    }
    .total{
    margin-left: 42px;
    }


    .pig-pige{
       height: 100vh;
       top: 11px;
    }
    .title-ord{
      position: relative;
      left: 51px;
      display: none;
    }
    .left .now {
      position: absolute;
      display: none;
      bottom: 82px;
      left: 50%;
    }
    .left .infor {
      height: 25vh;
      top: -251px;  
    }
    .pro-ord {
      margin-top: -238px;
      max-height: 35vh;
      margin-right: 26px;
  }
  img.logo-img {
    display: none;
}
.playing {
  position: absolute;
  display: none;
  top: -106px;
  z-index: 9999;
  background-color: black;
  height: 115vh;
  width: 107%;
}
.back{
  margin-left:170px;
  color: #ffffff;
        background-color: #2f2c51;
}
.information-ord {
  position: absolute;
  top: 62px;
}
.infotop {
  position: absolute;
  top: 40vh;
  left: -22px;
}
path {
  opacity: 0;
}
a {
  color: white;
}
.playing .wave {
  position: relative;
  left: 44%;
  top: 81%;
}
.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
  position: relative;
  left: 88%;
  top: 11%;
}
.now .latorot{
 margin-left: 20px;
  
}
.now .moto{
  position: relative;
  bottom: 90px;
  right: 90px;
  border-radius: 78px;
  width: fit-content;
  height: 8vh;
  opacity: 0;
  transition: 1s;
  
}
}
@media (max-width:360px ){
  .search-input{
  margin-left: 10pX;
  height: 5vh;
  width: 20PX;
}
.search button {
  height: 5vh;
  margin: 0 5px;
  width: 72px;
}
.dis h2 {
  left: 36px;
  top: -208px;
  position: absolute;
}
form {

  right: 3px;
}
}